---
import Link from "./ui/link.astro";
---

<div class="mt-6 flex flex-col sm:flex-row gap-3">
    <Link
      href="/contact"
      rel="noopener">Get Started</Link
    >
    <Link
      size="lg"
      style="outline"
      rel="noopener"
      href="https://instagram.com"
      target="_blank">Socials</Link
    >
  </div>