---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Improved leadership skills",
    description:
      "Executive coaching can help individuals develop their leadership skills and navigate complex business challenges.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Increased productivity",
    description:
      "Coaching can provide individuals with strategies to improve their time management, organization, and overall productivity.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Make moves",
    description:
      "With executive coaching, you'll have the tools you need to navigate the job market and take your career to the next level.",
      icon: "bx:bxs-window-alt"
  },
  {
    title: "Boost your confidence",
    description:
      "Executive coaching can help you build your self-confidence and communicate more effectively in both personal and professional settings.",
      icon: "bx:bxs-window-alt"
  },
  {
    title: "Enhance your personal brand",
    description:
      "Through executive coaching, you can strengthen your personal brand and increase your self-assurance in the workplace.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Develop a positive mindset",
    description:
      "Executive coaching can help you adopt a positive mindset and increase your self-confidence, leading to greater success in your career and personal life.",
    icon: "bx:bxs-user",
  },
];
---

<div class="py-20">
  <div>
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight max-w-5xl mb-8">
      Everything you needed to <span class="font-extrabold">move forward</span>
    </h2>
    <p class="text-lg mt-4 text-slate-600 max-w-2xl">
      Working with a professional comes with benefits. It takes the best of what there is to know, and mixes it with what you want to achieve.
    </p>
  </div>

  <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
    {
      features.map((item, idx) => (
        <div class="flex gap-4 items-start">
          <div class={idx % 2 === 0 ? "bg-fuchsia-700 mt-1 rounded-full  p-2 w-12 h-12 shrink-0" : "bg-slate-700 mt-1 rounded-full  p-2 w-12 h-12 shrink-0"}>
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-xl">{item.title}</h3>{" "}
            <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>
