---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import NavEmpty from '@components/navbar/navbarempty.astro'

import "@fontsource/inter/variable.css";

export interface Props {
  title: string;
  nav?: string
}
// const { src } = await getImage({
//   src: "../../assets/hero.png",
//   width: 800,
//   height: 742,
//   format: "avif",
// });
// console.log(src);
const resolvedImageWithDomain = new URL("/opengraph.jpg", Astro.url).toString();
const { title, nav } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon"href="/favicon.png" />
    <!-- roboto font google -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Parisienne&family=Lodrina+Outline&family=Poppins:wght@200&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Anton&family=Spectral:wght@200;300&display=swap" rel="stylesheet">

    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={`${title}${title && " | "}Ebullient Starter`}
      description="Ebullient is a solopreneur starter website template."
      twitter={{
        creator: "@adjbentley",
        site: "@grayscale88",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          type: "website",
          title: `Grayscale ebullient starter template built on astro`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Ebullient Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>
    {nav === "empty" ? "" : <Navbar />}
      <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
      /* Avoid Alpine.js Hidden Element Flash */
      [x-cloak] {
        display: none;
      }
    </style>
  </body>
</html>
